body {
    font-family: Arial, sans-serif;
    background-color:#f5f7fb;
}
h1{
    color:#1d4ecd;
    font-size:50px;
    text-align:center;
}
h3{
    color:#111334;
}
p{
    font-size:20px;
    line-height:1.6;
}
button{
    background-color: navy;
    color:#f5f7fb;
    padding:16px 20px;
    border:none;
    border-radius: 8px;
    cursor: pointer;
    transition:0.3s;
}
h1,h2,h3,p{
    margin-bottom:12px;
}
button{
    margin-bottom:16px;
    margin-top:20px;
}
button:hover{
    background-color: blue;
}
a{
    color:blue;
    text-decoration:underline;
}
a:hover{
    color:red;
}
form{
    margin-top:24px;
}
#hero{
    background-color:whitesmoke;
    padding:32px;
    border-radius:12px;
    display:flex;
    align-items:center;
    gap:20px;
    position:relative;
}
.badge{
    position: absolute;
    top:16px;
    right:16px;
    background-color:#1e4de8;
    color: white;
    padding:8px 12px;
    border-radius:20px;
    font-size:14px;
}
.highlight{
    color:#1d4ecd;
    font-weight:bold;
}
.card{
    background-color:whitesmoke;
    padding:24px;
    margin-top:20px;
    border-radius:12px;
    width:30%;
}
.card img{
    width:100%;
    border-radius:5px;
}
.cards-container{
    display:flex;
    gap:20px;
}
label{
    font-weight:bold;
    display:block;
    margin-bottom:10px;
}
input{
    display:block;
    width:100%;
    padding:15px;
    margin-bottom:15px;
    border:1px solid grey;
    border-radius:12px;
}
input:focus{
    outline:none;
    border-color: #1d4ed8;
    background-color:whitesmoke;
}
#hero img{
    width:260px;
    border-radius:15px;
}
section{
    margin-top:40px;
}
.navbar{
    background-color: white;
    padding:20px 32px;
    border-radius:15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h2{
    color:#1d4ecd;
}
.nav-links{
    display:flex;
    gap:20px;
}
.nav-links a{
    color:#111827;
    text-decoration: none;
    font-weight: bold;
}
.nav-links a:hover{
    color:#1d4ed8;
}
.banner{
    position:relative;
    margin-top:40px;
    border-radius:15px;
    overflow:hidden;
}
.banner img{
 width:100%;  
 display:block; 
}
.banner-text{
    position: absolute;
    top:40px;
    left:40px;
    color:white;
    max-width: 400px;
}