body {
    font-family: Arial, sans-serif;
    background-color:#f5f7fb;
}
h1{
    color:#1d4ecd;
    font-size:50px;
    text-align:center;
}
h2,h3{
    color:#111334;
}
p{
    font-size:20px;
    line-height:1.6;
}
button{
    background-color: #1d4ecd;
    color:#f5f7fb;
    padding:16px 20px;
    border:none;
    border-radius: 8px;
}
h1,h2,h3,p{
    margin-bottom:12px;
}
button{
    margin-bottom:16px;
    margin-top:20px;
}
form{
    margin-top:24px;
}
#hero{
    background-color:grey;
    padding:32px;
    border-radius:12px;
}
.highlight{
    color:#1d4ecd;
    font-weight:bold;
}
.card{
    background-color:yellow;
    padding:24px;
    margin-top:20px;
    border-radius:12px;
}